<!DOCTYPE html>
<html>
<head>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h1 style="text-align:center">Fertilizers and Sprayers</h1>
 <table align="center">
  <td >
<div class="card">
  <img src="assets\images\dne.png"  style="width:300px;height:200px">
  <h2>Drones</h2>
  <p>Takes very less time to spary pesticides and insecticides. Less than 15 mins for an acre</p>
  <p><button routerLink="/selected-details">Select</button></p>
</div>
</td>
  <td >
<div class="card">
  <img src="assets\images\fertilizer1.png"  style="width:300px;height:200px">
  <h2>Hand Sprayers</h2>
  <p>Less cost and suitable for less acres.Spray efficiently with a even spread spray gun and take more time</p>
  <p><button >Select</button></p>
</div>
</td>
<td>
<div class="card">
  <img src="assets\images\tractorsprayers.png"  style="width:300px;height:200px">
  <h2>Tractor Sprayers</h2>
  <p>Spraying stick covers 50 meters and suitable for 1 feet crops. Covers 1 acre in less than 30mins</p>
  <p><button disable="disabled">Select</button></p>
</div>
</td>
<tr>
  <td>
      <div class="card">
          <img src="assets\images\fertilizer4.png"  style="width:300px;height:200px">
          <h2>Labours</h2>
          <p>Manpower for spraying available for daily wages</p>
          <p><button disable="disabled">Select</button></p>
        </div>
  </td>
  <td>
      <div class="card">
          <img src="assets\images\weedcontrol.png"  style="width:300px;height:200px">
          <h2>Weed Control Sprayers</h2>
          <p>Works efficiently and spray an acre in 30 mins</p>
          <p><button disable="disabled">Select</button></p>
        </div>
  </td>
  <td>
      <div class="card">
          <img src="assets\images\sprayers3.png" style="width:300px;height:200px">
          <h2>Spray Quadercycle</h2>
          <p>Takes very less time to spary pesticides and insecticides.</p>
          <p><button>Select</button></p>
        </div>
  </td>
</tr>
</table>
</body>
</html>
